<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Side Navigation Menu</title>
  <!-- CSS Link -->
  <link rel="stylesheet" href="vista-profesor.component.css">
  <!-- Icon Link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="container">

  <input type="checkbox" id="click">
  <label for="click">
    <i class='menu-btn bx bx-menu'></i>
    <i class='close-btn bx bx-x-circle'></i>
  </label>

  <div class="sidenav">
    <div class="logo">
      <h2>LabCE</h2>
    </div>

    <hr class="line-custom" style='margin-top: 20px;'>


    <div class="icon_items">
      <ul>
        <li style='margin-top: 20px;'>
          <i class='bx bxs-home' href="inicio" routerLink="inicio"></i>
          <a href="inicio" routerLink="inicio">Inicio</a>
        </li>

        <li style='margin-top: 20px;'>
          <i class='bx bx-key' href="cambio-password" routerLink="cambio-password"></i>
          <a href="cambio-password" routerLink="cambio-password">Password</a>
        </li>

        <li style='margin-top: 20px;'>
          <i class='bx bx-check-square' href="aprovacion-prestamo" routerLink="aprovacion-prestamo"></i>
          <a href="aprovacion-prestamo" routerLink="aprovacion-prestamo">Préstamos</a>
        </li>

        <li style='margin-top: 20px;'>
          <i class='bx bx-calendar' href="reservaciones" routerLink="reservaciones"></i>
          <a href="reservaciones" routerLink="reservaciones">Reservaciones</a>
        </li>

      </ul >
      <hr class="line-custom" style='margin-top: 330px;'>
      <ul>
        <li style='margin-top: 10px;'>
          <i class='bx bxs-log-in' ></i>
          <a href="#">Logout</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <aside>
      <router-outlet></router-outlet>
    </aside>
  </div>

</div>
</body>
</html>
