



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.imagen-contenedor {
  max-width: 100%;
  height: auto;
}
.card{
  border: none;
  transition: transform 0.2s;
}
.card-title{
  text-align: center;
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


