<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Side Navigation Menu</title>
  <!-- CSS Link -->
  <link rel="stylesheet" href="aprovacion-prestamo.component.css">

</head>

<body>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre del componente</th>
    <th scope="col">Nombre de solicitante</th>
    <th scope="col">Carnet</th>
    <th scope="col">Opción</th>
    <th scope="col">Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <td>{{ item.id }}</td>
    <td>{{ item.componente }}</td>
    <td>{{ item.solicitante }}</td>
    <td>{{ item.carnet }}</td>
    <td>
      <button type="button" class="btn btn-success" (click)="updateStatus(item, 'Aceptado')">Aceptar</button>
      <button type="button" class="btn btn-danger" (click)="updateStatus(item, 'Denegado')">Denegar</button>
    </td>
    <td>{{ item.estado }}</td>
  </tr>
  </tbody>
</table>

</body>

</html>
