<div class=" container" >
  <mat-toolbar class="custom-toolbar toolbar-with-border" style="display: flex; justify-content: center;">
    <span >Solicitudes de préstamo de activos</span>
  </mat-toolbar>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Activo">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let element"> {{element.Activo}} </td>
    </ng-container>

    <ng-container matColumnDef="Solicitante">
      <th mat-header-cell *matHeaderCellDef> Solicitante </th>
      <td mat-cell *matCellDef="let element"> {{element.Solicitante}} </td>
    </ng-container>

    <ng-container matColumnDef="Operador">
      <th mat-header-cell *matHeaderCellDef> Operador </th>
      <td mat-cell *matCellDef="let element"> {{element.Operador}} </td>
    </ng-container>

    <ng-container matColumnDef="Opcion" >
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Opción </th>
      <td mat-cell *matCellDef="let element">
        <!-- Primer botón -->
        <div style="display: flex; justify-content: center; gap: 15px;">
          <button mat-icon-button>
            <mat-icon>done</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
