<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Side Navigation Menu</title>
  <!-- CSS Link -->
  <link rel="stylesheet" href="inicio.component.css">
  <!-- Icon Link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<div class="custom-container">
  <div class="container my-auto">
    <div class="custom-div">

      <i class='bx bx-key' style='font-size: 80px;'></i>

      <h1 class="text-body-emphasis">Cambio de Password</h1>

      <p class="col-lg-8 mx-auto fs-6 text-muted">
        El sistema permitirá al profesor generar un pwd nuevo.
        El sistema genera aleatoriamente un pwd el cual es enviado
        al correo indicado y lo almacenará encriptado utilizando MD5.
      </p>

    </div>

  </div>

  <div class="container my-1">
    <div class="custom-div">

      <i class='bx bx-check-square' style='font-size: 80px;'></i>

      <h1 class="text-body-emphasis">Aprobación de préstamo</h1>

      <p class="col-lg-8 mx-auto fs-6 text-muted">
        En esta opción el profesor podrá visualizar todas las solicitudes
        de préstamo de activos que requieran su aprobación, el sistema debe
        proveer la forma de aprobar o denegar el préstamo.
      </p>

    </div>

  </div>

  <div class="container my-1">
    <div class="custom-div">

      <i class='bx bx-calendar' style='font-size: 80px;'></i>

      <h1 class="text-body-emphasis">Solicitud de reservación de Laboratorio:</h1>

      <p class="col-lg-8 mx-auto fs-6 text-muted">
        El sistema debe mostrar todos los laboratorios disponibles con un
        resumen de su capacidad, facilidades y activos. El usuario selecciona un
        laboratorio y el sistema debe mostrar la disponibilidad de ese laboratorio
        para la semana actual y tres semanas hacia adelante, semana a semana.
        El profesor deberá seleccionar la fecha, hora y cantidad de horas a reservar,
        el sistema bloquea el espacio solicitado y envía un correo al profesor confirmando la reserva.
      </p>

    </div>

  </div>
</div>




</html>
